Back-End/docs/n8n/alerta-pagamento-atrasado.json
{
  "name": "DD · Alerta Pagamento Atrasado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "7 8 * * *" }
          ]
        }
      },
      "id": "schedule-overdue",
      "name": "Todo dia 08:07",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ddapi_api:8080/internal/alerts/overdue-installments/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Admin-Key", "value": "COLE_SUA_ADMIN_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "http-overdue",
      "name": "POST run overdue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        },
        "options": {}
      },
      "id": "if-has-items",
      "name": "Tem parcela atrasada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "split-items",
      "name": "Uma por parcela",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [920, 220]
    },
    {
      "parameters": {},
      "id": "notify-overdue",
      "name": "→ Notificar (configure seu canal)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1140, 220]
    }
  ],
  "connections": {
    "Todo dia 08:07": { "main": [[{ "node": "POST run overdue", "type": "main", "index": 0 }]] },
    "POST run overdue": { "main": [[{ "node": "Tem parcela atrasada?", "type": "main", "index": 0 }]] },
    "Tem parcela atrasada?": { "main": [[{ "node": "Uma por parcela", "type": "main", "index": 0 }], []] },
    "Uma por parcela": { "main": [[{ "node": "→ Notificar (configure seu canal)", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "active": false
}
