Back-End/docs/n8n/meta-ads-spend.json
{
  "name": "DD · Meta Ads Spend (Graph → API)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "23 */6 * * *" } ] }
      },
      "id": "sched-meta",
      "name": "A cada 6h (:23)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "hostUrl": "graph.facebook.com",
        "httpRequestMethod": "GET",
        "graphApiVersion": "v21.0",
        "node": "me",
        "edge": "adaccounts",
        "options": {
          "queryParameters": {
            "parameter": [
              { "name": "fields", "value": "account_id,name,currency" },
              { "name": "limit", "value": "200" }
            ]
          }
        }
      },
      "id": "get-adaccounts",
      "name": "Meta: lista contas do BM",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": { "fieldToSplitOut": "data", "options": {} },
      "id": "split-accts",
      "name": "Uma por conta",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": { "options": {} },
      "id": "loop",
      "name": "Loop (1 por vez)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "hostUrl": "graph.facebook.com",
        "httpRequestMethod": "GET",
        "graphApiVersion": "v21.0",
        "node": "=act_{{ $json.account_id }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              { "name": "level", "value": "campaign" },
              { "name": "fields", "value": "campaign_id,campaign_name,spend,impressions,clicks,reach,actions" },
              { "name": "time_increment", "value": "1" },
              { "name": "date_preset", "value": "last_30d" },
              { "name": "limit", "value": "500" }
            ]
          }
        }
      },
      "id": "get-insights",
      "name": "Meta: gasto por campanha/dia",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1020, 380]
    },
    {
      "parameters": {
        "jsCode": "// Monta o payload que a API espera. A conta atual vem do Loop;\n// as linhas de gasto vêm da resposta do Graph.\nconst acct = $('Loop (1 por vez)').item.json;\nconst insights = $json.data ?? [];\n\n// 'actions' é uma lista de {action_type, value}. A conversa de WhatsApp aparece\n// como messaging_conversation_started_7d — é o 'lead' na visão do Meta.\nfunction conversas(r) {\n  const acts = Array.isArray(r.actions) ? r.actions : [];\n  const hit = acts.find((a) =>\n    String(a.action_type ?? '').startsWith('messaging_conversation_started'),\n  );\n  return hit ? Math.round(Number(hit.value ?? 0)) : 0;\n}\n\nconst rows = insights.map((r) => ({\n  campaignId: String(r.campaign_id ?? ''),\n  campaignName: r.campaign_name ?? null,\n  date: r.date_start,               // time_increment=1 => 1 linha por dia\n  spend: Number(r.spend ?? 0),\n  currency: acct.currency ?? null,\n  impressions: Number(r.impressions ?? 0),\n  clicks: Number(r.clicks ?? 0),\n  reach: Number(r.reach ?? 0),\n  conversations: conversas(r),\n}));\n\nreturn [{\n  json: {\n    provider: 'meta',\n    externalAccountId: String(acct.account_id),\n    rows,\n  },\n}];"
      },
      "id": "shape",
      "name": "Monta payload da API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ddapi_api:8080/internal/ads/spend",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [ { "name": "X-Admin-Key", "value": "COLE_SUA_ADMIN_API_KEY" } ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 120000 }
      },
      "id": "post-spend",
      "name": "POST gasto p/ API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 380]
    },
    {
      "parameters": { "amount": 1 },
      "id": "wait",
      "name": "Espera 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1620, 380]
    }
  ],
  "connections": {
    "A cada 6h (:23)": { "main": [[{ "node": "Meta: lista contas do BM", "type": "main", "index": 0 }]] },
    "Meta: lista contas do BM": { "main": [[{ "node": "Uma por conta", "type": "main", "index": 0 }]] },
    "Uma por conta": { "main": [[{ "node": "Loop (1 por vez)", "type": "main", "index": 0 }]] },
    "Loop (1 por vez)": { "main": [ [], [{ "node": "Meta: gasto por campanha/dia", "type": "main", "index": 0 }] ] },
    "Meta: gasto por campanha/dia": { "main": [[{ "node": "Monta payload da API", "type": "main", "index": 0 }]] },
    "Monta payload da API": { "main": [[{ "node": "POST gasto p/ API", "type": "main", "index": 0 }]] },
    "POST gasto p/ API": { "main": [[{ "node": "Espera 1s", "type": "main", "index": 0 }]] },
    "Espera 1s": { "main": [[{ "node": "Loop (1 por vez)", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "active": false
}
